body{
    background: grey;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.photosoftheday{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.photosofthedayfavouritespage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;

}

.img-wrapper{
    margin: 10px;
}

@media screen and (min-width: 650px){

    
    .photosoftheday{
        flex-direction: row;
    }

    .photosofthedayfavouritespage{
        flex-direction: row;

    }

  }

  ul{
    text-decoration: none;
    list-style: none;
            display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: center;
        font-size: large;

  }

  .home{
    margin-right: 10px;
  }

  .favourites{
    margin-left: 10px;
  }

  .photo{
    margin: 30px;
  width: 50%;
  border: 3px solid black;
  padding: 10px;
  }


  .trash{
    margin: 11px;
  }